<div>
    <div>
        <div class="input-group">
            <input type="text" ng-model="searchDiscrepancy" class="form-control"
                placeholder="Filter list...">
            <!--
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
            </span>
            -->
            <span class="input-group-btn">
                <button ng-if="discrepancies" class="btn btn-primary"
                        ng-click="jumpNextDiscrepancy()" title="Jump to the next difference">
                    <i class="glyphicon glyphicon-forward"></i>
                    Next
                </button>
            </span>
        </div>
    </div>
    <div style=" height:265px; overflow:auto; margin-top:20px;">
        <table class="table" border="0" style="width: -webkit-fill-available;">
            <tr>
                <th>Time</th>
                <th>{{ parent.filesData[0].filename }}</th>
                <th>{{ parent.filesData[1].filename }}</th>
            </tr>
            <tr id="discrepancy_{{$index}}"
                ng-repeat="discrepancy in (filteredDiscrepancies = (discrepancies | mulSearch: searchDiscrepancy)) track by $index ">
                <td><a ng-click="playDiscrepancy(discrepancy)" style="cursor: pointer">
                    {{ discrepancy.start | secondsToMinutes }} - {{ discrepancy.end | secondsToMinutes }}</a>
                </td>

                <td style="cursor:pointer"
                    ng-class="{'discrepancy-selected': discrepancy.choice==='old'}"
                    ng-click="discrepancy.choice = discrepancy.choice === 'old' ? undefined : 'old'">
                    <span ng-show="discrepancy.choice === 'old'"
                        style="color:green;">&#10004;</span>
                    {{ discrepancy.oldText }}
                </td>

                <td style="cursor:pointer"
                    ng-class="{'discrepancy-selected': discrepancy.choice==='new'}"
                    ng-click="discrepancy.choice = discrepancy.choice === 'new' ? undefined : 'new'">
                    <span ng-show="discrepancy.choice === 'new'"
                        style="color:green;">&#10004;</span>
                    {{ discrepancy.newText }}
                </td>
            </tr>
        </table>
    </div>
</div>