<div style="margin: 3% 15%; display:flex; flex-direction: row; align-items: center; justify-content: center;">
    <span style="margin: 0;" >{{imageIndex}}</span>
</div>

<div id="container" style="margin-top:40px; display:flex; flex-direction: row; align-items: center; justify-content: center;">
    <div id="canvas"
         style="
            background-img: none;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            width: 480px;
            position: relative;
            ">
    </div>
    <div style="display:flex; flex-direction:column; margin-left: 7%;" >
        <span style="font-size: 15px; margin-bottom: 10px;">Predicted title</span>
        <textarea  style="margin: 0px; width: 312px; height: 130px;" id="PredictedTitle"></textarea>
    </div>
</div>
<div style="margin: 3% 15%; display:flex; flex-direction: row; align-items: center; justify-content: center;  ">
<!--    <input style="margin: 0;" type="checkbox" id="PresentationCheckbox">-->
<!--    <label style="margin: 0; font-size: 15px;" for="PresentationCheckbox">Not presentation {{ parent.imagesCsv[imageIndex].confidence_classifier }}</label>-->
<!--    <label ng-repeat="label in labels">-->
<!--        <input type="radio" name="label" ng-model="labelChosen.hmn" ng-value="label" /> {{label.replace("_"," ")}}-->
<!--    </label>-->


<!--         ng-style="{ background : labelChosen.hmn == label.name ? '#e4c3f5' : '#f1ddff', border: labelChosen.cmptr === label.name ? '1px solid red' : 'none' }"-->
    <div ng-repeat="label in labels">
        <div class="cmptr">
            <i class="glyphicon glyphicon-arrow-down" ng-if="labelChosen.cmptr === label.name"></i>
<!--            {{ labelChosen.cmptr }}-->
<!--            {{ labelChosen.cmptr === label.name }}-->
        </div>
        <div class="clickable image-label"
            title="{{ label.shortcut }}"
            ng-class="{clicked : labelChosen.hmn == label.name}"
            ng-click="chooseLabel(label)">
            {{label.name.replace("_"," ")}}
        </div>
    </div>

</div>
<div style="margin: 3% 15%; display:flex; flex-direction: row; align-items: center; justify-content: center;">
    <button ng-click="deleteBoundingBox()" class="btn btn-primary">Delete Bounding Box</button>
</div>
<div style="margin: 3% 15%; display:flex; flex-direction: row; align-items: center; justify-content: space-around;">
    <button ng-click="change(-1)" class="btn btn-primary">Prev</button>
    <button ng-click="change(1)" class="btn btn-primary">Next</button>
</div>