<span style="margin:10px">
    <input type="text" ng-model="rep.start" style="font-size:13px;width:35px" ng-value="rep.start | number : 2">
    -
    <input type="text" ng-model="rep.end" style="font-size:13px;width:35px" ng-value="rep.end | number : 2">
    <button class="btn btn-primary btn-sm" ng-click="playStop()" style="vertical-align: top; height: 23px">
        <i class="glyphicon glyphicon-play" ng-show="!isPlaying" style="vertical-align: top;"></i>
        <i class="glyphicon glyphicon-pause" ng-show="isPlaying" style="vertical-align: top;"></i>
    </button>
</span>