<div class="search-bar">
    <a ng-click="searchInTranscript()" class="search-toggle search-toggle-off search-refresh" title="Refresh"><i class="glyphicon glyphicon-refresh"></i></a>
    <div style="display: flex;">
        <div class="search-bar-input">
            <input type="text" ng-model="findText" ng-change="searchInTranscript()" ng-keyup="search($event)" class="SearchBarInput">
            <a ng-click="clear()" class="search-toggle search-toggle-off" title="Clear"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
        <a ng-click="toggleRegex()" title="Regex" class="search-toggle"
           ng-class="{'search-toggle-on': regex, 'search-toggle-off': !regex}">.<i class="glyphicon glyphicon-asterisk"></i></a>
        <a ng-click="toggleMatchCase()" title="Match Case" class="search-toggle"
           ng-class="{'search-toggle-on': matchCase, 'search-toggle-off': !matchCase}">Cc</a>
        <a ng-click="toggleWholeWord()" title="Match Whole Word Only" class="search-toggle"
           ng-class="{'search-toggle-disable': regex, 'search-toggle-on': wholeWord && !regex, 'search-toggle-off': !wholeWord && !regex}">W</a>
    </div>

    <div style="width: 100px; text-align: center;">
         <span class="results" ng-show="isActive()">{{amount > 0 ? currentIndex + 1 : 0}}/{{amount}}</span>
    </div>

    <div style="user-select: none; display: flex;">
         <a class="search-toggle" ng-class="{'search-toggle-off': isActive() && amount > 0, 'search-toggle-disable': !isActive() || amount == 0}"
            ng-click="seek(-1)" >
             <i class="glyphicon glyphicon-menu-up"></i>
         </a>
         <a class="search-toggle" ng-class="{'search-toggle-off': isActive() && amount > 0, 'search-toggle-disable': !isActive() || amount == 0}"
            ng-click="seek(1)">
             <i class="glyphicon glyphicon-menu-down"></i>
         </a>
    </div>

</div>