<div class="modal-header">
    <div class="row">
        <div class="col-md-12">
            <h3 class="modal-title" id="modal-title">Load data</h3>
        </div>
    </div>
</div>
<div class="modal-body" id="modal-body">
    <div class="panel panel-primary" ng-if="mediaFile">
        <div class="panel-heading">
          <h3 class="panel-title">Media file</h3>
        </div>
        <div class="panel-body">
            <div class="loading-modal__media-file">
                <b>{{ mediaFile.name }}</b>
                <button type="button" class="btn btn-danger btn-sm" ng-click="removeMedia()">x</button>
            </div>
        </div>
    </div>

    <div class="panel panel-info" ng-if="transcriptFiles.length">
        <div class="panel-heading">
          <h3 class="panel-title">Transcript files</h3>
        </div>
        <div class="panel-body">
            <div class="loading-modal__transcript-file" ng-repeat="transcriptFile in transcriptFiles track by $index">
                <b>{{ transcriptFile.name }}</b>
                <button type="button" class="btn btn-danger btn-sm" ng-click="removeTranscript($index)">x</button>
            </div>
        </div>
    </div>

    <input type="file" id="inputAudio" style="display:none" fileread="newFile" handlemultiple="handleFiles(extrafiles)"  accept="audio/*, video/*, application/json, text/json, .ctm, .srt, .rttm, .tsv" multiple/>

    <div class="row" style="margin-bottom: 1rem;">
        <div class="col-md-4 col-md-offset-4">
            <button class="btn btn-success btn-block" ng-click="selectFiles()">
                Add files
                <i class="glyphicon glyphicon-open"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            Audio/video file or transcript files (JSON, CTM, RTTM, SRT, TSV)
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="isComparsionMode"> Comparsion mode
                </label>
            </div>
            <p ng-if="isComparsionMode">
                In comparsion mode you can select only two JSON or CTM files
            </p>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn btn-default pull-left" type="button" ng-click="runDemo()">Load Demo</button>
    <button class="btn btn-default pull-left" type="button" ng-if="draftAvailable" ng-click="loadDraft()">Load Draft</button>
    <button class="btn btn-primary" type="button"
            ng-disabled="!mediaFile || (isComparsionMode && (!isComparsionModeValid || transcriptFiles.length != 2))" ng-click="ok()">OK
    </button>
</div>