.segment-text {
    /*text-align: center;*/
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #000000;
}

.segment-text.col-lg-6 {
    border: 1px solid #eee;
    padding: 1em;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.annotation-label {
    padding: 3px 10px 0px;
    margin-bottom: 0;
    border: 1px solid #f1f1f1;
    border-collapse: collapse;
}

.speaker-legend{
    display:inline-block;
    max-width:80%;
    white-space: nowrap;
    overflow: hidden;
}

p.highlighted {
    background-color: rgba(0, 255, 0, 0.3);
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.speakers-row {
    overflow-x: hidden;
    overflow-y: scroll;
}

.wavesurfer-region {
    opacity: 0.5;
    min-width: 5px;
    border: solid;
    border-width: 1px;
}

.selected-region {
    border-width: 2px;
    opacity: 0.6;
}

label {
    display: block;
}

.wavesurfer-handle {
    position: absolute;
    cursor: col-resize;
    height: 100%;
    width: 5px;
    max-width: 50%;
}

.wavesurfer-handle-end {
    right: 0;
}


.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
}

.lds-circle > div {
    display: inline-block;
    width: 51px;
    height: 51px;
    margin: 6px;
    border-radius: 50%;
    background: #cef;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}

.panel {
    border: solid 1px transparent;
}

.selected-file {
    border: solid 1px #54F2D9;
}

.selected-word {
    border-bottom: 5px solid #54F2D9
}

.discrepancy-selected {
    background-color: #fbeb9b82;
}

.selected-discrepancy {
    background-color: #FBEB9B;
}

hr.half-rule {
    width: 50%;
}


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #a94dec;
}

.navbar-inverse {
    background-color: #812AC1;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #a94dec;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #a94dec;
}

.btn-primary {
    background-color: #a94dec;
}

.btn-primary:active {
    background-color: #a94dec;
}

.btn-primary:focus {
    background-color: #a94dec;
}

.btn-primary:focus, .btn-primary.focus {
    color: #ffffff;
    background-color: #a94dec;
}

.btn-primary:hover, .btn-primary:active:hover {
    background-color: #a94dec;
}

@media (min-width: 768px).container {
    .container {
        min-width: 750px;
        maxwidth: 780px;
    }
}
@media (min-width: 992px){
    .container {
        min-width: 970px;
        max-width: 1000px;
    }
}
@media (min-width: 1200px){
    .container {
        min-width: 1170px;
        max-width: 1200px;
    }
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.btn-primary:active {
    background-image: radial-gradient(circle, #812AC1 10%, #a94dec 11%);
}

a {
    color: #a94dec;
}

a:hover, a:focus {
    color: #812AC1;
}

.segment-text__word-wrapper:focus {
    outline: none;
}

.segment-text__word-wrapper--was-edited {
    color: rgb(129, 42, 193);
}

.editable-words {
    display: block;
    margin-bottom: 2rem;
    width: 100%;
}

.editable-words:focus {
    outline: none;
}

.segment-text__word-wrapper.low-confidence {
    font-style: italic;
}

#logo {
    transform: rotate(90deg);
    height: 50px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

kbd {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.1em 0.5em;
    margin: 0 0.2em;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    background-color: #f7f7f7;
    color: black;
}

.segment-labeling {
    top: 0px;
    position: sticky;
}

.proofreading--selected {
    background: rgba(255, 255, 90, 0.3)
}

.proofreading__speaker {
    font-weight: bold;
    font-size: 1.4rem;
    word-break: break-all;
    margin-bottom: 0;
}

.proofreading__timing {
    font-size: 1rem;
    white-space: nowrap;
}

.glyphicon-large {
    font-size: 20px;
}

.editable-words--outlined {
    outline: 1px solid rgb(77, 144, 254);
}

input.volume-slider[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    width: 100%;
    height: 8px;
    background: rgb(0,255,23);
    background: linear-gradient(90deg, rgba(0,255,23,1) 0%, rgba(0,255,23,1) 50%, rgba(219,234,0,1) 60%, rgba(219,234,0,1) 85%, rgba(255,0,0,1) 100%);
    border-radius: 2px;
    margin-top: 6px;
    outline: none;
}

.tooltip.gecko-zoom-tooltip .tooltip-arrow {
    display: none;
}

.region-context-menu__button {
    cursor: pointer;
}


.tooltip.gecko-segment-labeling-tooltip {
    min-width: 150px;
}

.segment-text.stretched .panel-title {
    margin-left: 15px;
}

.segment-labeling.stretched .panel-title {
    margin-left: 15px;
}

.loading-modal__transcript-file {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.loading-modal__media-file {
    display: flex;
    justify-content: space-between;
}

.gecko-mini-player {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 20px 0px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 20px;
}

input[type=range].gecko-mini-player-range {
    -webkit-appearance: none;
    width: 100%;
    margin: 5.5px 0;
  }
  input[type=range].gecko-mini-player-range:focus {
    outline: none;
  }
  input[type=range].gecko-mini-player-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #000000;
    border-radius: 0px;
    border: 0px solid #010101;
  }
  input[type=range].gecko-mini-player-range::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #ffffff;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    background: #000000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.5px;
  }
  input[type=range].gecko-mini-player-range:focus::-webkit-slider-runnable-track {
    background: #0d0d0d;
  }
  input[type=range].gecko-mini-player-range::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #000000;
    border-radius: 0px;
    border: 0px solid #010101;
  }
  input[type=range].gecko-mini-player-range::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #ffffff;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    background: #000000;
    cursor: pointer;
  }
  input[type=range].gecko-mini-player-range::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range].gecko-mini-player-range::-ms-fill-lower {
    background: #000000;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range].gecko-mini-player-range::-ms-fill-upper {
    background: #000000;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range].gecko-mini-player-range::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #ffffff;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    background: #000000;
    cursor: pointer;
    height: 5px;
  }
  input[type=range].gecko-mini-player-range:focus::-ms-fill-lower {
    background: #000000;
  }
  input[type=range].gecko-mini-player-range:focus::-ms-fill-upper {
    background: #0d0d0d;
  }
  
  #video-js {
    width: 100%;
    height: auto;
  }

  #video-js video {
    width: 100%;
    height: auto;
  }

  .row-eq-height {
    justify-content: center;
    align-items: center;
    min-height: 370px;
  }

  .no-min-height {
      min-height: initial;
  }

  .mb-0 {
    margin-bottom: 0;
  }

  .pl-0 {
    padding-left: 0;
  }

  .pr-0 {
    padding-right: 0;
  }

  .m-0 {
    margin: 0;
  }

  .text-center {
    text-align: center;
  }

  .btn-toggle-video {
    position: absolute;
    top: 68px; 
    left: 0; 
    z-index: 99;
  }

  .full-width {
      width: 100%;
  }

.audio__filename {
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.transcript__filename {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.call-table{
    font-size: 14px;
    width:100%;

}

.call-table .table-header{
    font-size: 16px;
    border-radius: 3px 0 3px 0;
    font-weight: bold;
    color: white;
    background-color: #812AC1;
    padding-top: 15px;

}

.call-table .table-header .table-call-id{
    cursor: default;
	color: white;
}


.call-table div{
    display: flex;
    padding: 7px;
}

.call-table .table-call-id:hover{
    font-weight: bold;
}

.call-table .table-call-id{
	cursor: pointer;
	color: #812AC1;
    width: 25%;
}

.rectangle {
    box-shadow: 0 0 3px 3px #a8a3abc2;
    border: 2px dashed #812ac1;
    border-radius: 3px;
    position: absolute;
}

.call-table .table-call-id:hover{
    font-weight: bold;
}
.call-table .table-call-status{
    width: 20%;
}

.call-table .table-call-comment{
    width: 55%;
}

.call-table div span{
    padding: 10px;
}

.call-table .table-note {
    justify-content: flex-end;
    padding: 5px 90px;
    border-top: dotted 1px lightgray;
    color: black;
    font-size: small;
}

.floating-filename {
    position: absolute;
    left: 5px;
    z-index: 50;
    background-color: #00000035;
    border-radius: 5px;
    padding: 0 2px;
    box-shadow: 0 0 3px 0px #00000040;
    color: white;
}
.floating-filename.top-float {
    top: 5px;
}
.floating-filename.bottom-float {
    bottom: 25px;
}

input[type="checkbox"]{
    margin-bottom: 0px;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.merge-label{
    padding: 1px 5px;
    box-shadow: 1px 1px 0px 1px #00000020;
    border-radius: 3px;
}

a.play-part{

}
a.play-part.play-part-play{

}
a.play-part.play-part-pause{

}
a.play-part.play-part-clear{

}

.flex.space-between{
    display: flex;
    justify-content: space-between;
}

.primary-color{
    border-radius: 100%;
    padding: 0;
    outline: none;
    -webkit-appearance: none;
    height: 22px;
    width: 22px;
    border: 1px solid #66666666;
}

.primary-color::-webkit-color-swatch-wrapper {
    padding: 0;
}
.primary-color::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.search-bar{
    display: flex;
    justify-content: space-between;
    width: 440px;
}

.search-bar .results{
    font-size: smaller;
    font-weight: bold;
    color: gray;
}

.search-bar .search-bar-input{
    display: flex;
    background-color: white;
    box-shadow: inset 0 -1px 0 #ddd;
}

.search-bar .search-bar-input input{
    outline: none !important;
    box-shadow: inset 0 -1px 0 #ddd;
}

.search-toggle{
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    width: 26px;
    height: 26px;
    text-align: center;
    border-radius: 5px;
}

.search-toggle:hover{
    color: #c485f3;
    text-decoration: none;
    cursor: pointer;
}

.search-toggle.search-toggle-disable{
    color: #ccc;
}
.search-toggle.search-toggle-disable:hover{
    text-decoration: none;
    color: #ccc;
    cursor: default;
}

.search-toggle-on{
    color: #812AC1;
    background-color: #812AC142;
}

.search-toggle-off{
    color: gray;
}

.found-word {
    background-color: #e8acf28c;
}

.regex-exp{
    font-size: small;
    position: absolute;
}

.clickable {
    cursor: pointer;
}

.image-label {
    text-align: center;
    background: #f1ddff;
    border-radius: 3px;
    margin: 0 15px 2px;
    padding: 2px 5px;
    font-size: 16px;
    box-shadow: 1px 1px 2px #a9a9a9ad;
}

.image-label.clicked {
    background: #e4c3f5;
    border: none;
    box-shadow: inset 1px 1px 3px 1px #8c8c8ce0;
}

.cmptr {
    height: 25px;
    text-align: center;
}