<span ng-repeat="word in words track by word.uuid"
    style="color: rgb(0,0,0); opacity: word.confidence ? word.confidence : '1';"
    ng-style="word.wasEdited && {'color':'rgb(129, 42, 193)'}"
    class="segment-text__word-wrapper"
    ng-class="{'low-confidence': word.confidence < 0.95 && word.confidence >= 0}"
    title="Confidence: {{ word.confidence }}"
    changed="ctrl.wordChanged($parent.$index, $index)"
    keys-mapping="ctrl.editableKeysMapping($parent.$index, $index, keys, which)"
    ng-click="ctrl.wordClick(word, $event)"
    data-index="{{ $index }}"
    word-uuid="{{ word.uuid }}"
    id="word_{{fileIndex}}_{{$index}}">
{{ word.text.trim() }}
</span>