<div class="modal-header">
    <div class="row">
        <div class="col-md-12">
            <h3 class="modal-title" id="modal-title">Load draft</h3>
        </div>
    </div>
</div>
<div class="modal-body" id="modal-body">
    <div class="row" style="align-items:center; margin-bottom:2em">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Media file name</th>
                        <th>File names</th>
                        <th>Last modified</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in drafts track by d.id">
                        <td>{{ d.mediaFileName }}</td>
                        <td>{{ d.fileNames }}</td>
                        <td>{{ d.lastModified }}</td>
                        <td>
                            <button class="btn btn-info" type="button" ng-click="selectDraft(d)">Select</button>
                            <button class="btn btn-danger" type="button" ng-click="deleteDraft(d.id)"><i class="glyphicon glyphicon-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default pull-left" type="button" ng-click="loadLast()" ng-disabled="!drafts.length">Load Last</button>
    <button class="btn btn-default pull-left" type="button" ng-click="cancel()">Cancel</button>
</div>